<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="icon" type="image/png" href="/images/images.png" />

    <meta name="description" content="<%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha384-QYIZtoN7MsmXpXg8q7Scs3w48GMrVbTxB1xD7xV9a1Z9Bz5xntMYC/s7T7O6xg6q"
      crossorigin="anonymous"
    />
    <script src="/js/script.js" defer></script>
  </head>

  <body>
    <%- include('../partials/search.ejs') %>
    <div class="container">
      <%- include('../partials/header.ejs') %>
      <main><%- body %></main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
